<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.ERPSystem.mapper.ReceivingDetailMapper">

	<!-- 指定された入荷伝票の明細を取得 -->
	<select id="getReceivingDetails"
		resultType="com.example.ERPSystem.entity.ReceivingDetails">
		SELECT * 
		FROM receiving_details 
		WHERE 
			receiving_id = #{receivingID}
	</select>

	<!-- 指定された入荷伝票の明細を削除 -->
	<delete id="deleteReceivingDetail">
		DELETE 
		FROM receiving_details 
		WHERE 
			receiving_id = #{receivingID}
	</delete>

	<!-- 入荷伝票の明細を一括登録 -->
	<insert id="insertReceivingDetail">
		INSERT INTO receiving_details (
			receiving_detail_id,
			receiving_id,
			material_id,
			quantity_received,
			quantity_accepted,
			quantity_rejected,
			storage_location,
			stock_status
		) 
		VALUES
		<foreach collection="list" item="item" separator=",">
		(
			#{item.receivingDetailID},
			#{item.receivingID},
			#{item.materialID},
			#{item.quantityReceived},
			#{item.quantityAccepted},
			#{item.quantityRejected},
			#{item.storageLocation},
			#{item.stockStatus}
		)
		</foreach>
	</insert>

</mapper>